# Data Types and Structures Questions

1. What are data structure and why they are important?
   
   * Data structure is a way of organizing or storing of data.
   * It is easy to accesse and manipulate the data and organises the data logically.
   * They are important as they store many forms of data in it.

2. Explain the difference between the mutable and immutable data types with examples.

   * Mutable means changeable  ,e.g., list, Dictionary,set
   * Immutable means unchangeable ; e.g., string , tuple
   * Below are the examples for each:

In [2]:
## Mutable data types
#List
Money = ["10rs","50rs","100rs","500rs","1000rs"] #orginal list
Money[1] = "200rs"  #changes made in a list
print(Money)

['10rs', '200rs', '100rs', '500rs', '1000rs']

In [18]:
#Dictionary
dict ={"x":10 , "y":50}
dict["x"] = 100 #chages in dixt using key 
print(dict)

{'x': 100, 'y': 50}

In [25]:
## Immutable data types
#string
str = "My name is Sneha"
str[-5:] = "Sneha Lavhate" #shows an error as str are immutable

TypeError: 'str' object does not support item assignment

In [27]:
#tuple
A = ("Name","Address","colony")
A[3] = "Phn no." #gives an error as tuple is immutable i.e., not changable contains fixed value

TypeError: 'tuple' object does not support item assignment

3. What are the main differences between lists and tuples in Python?

   * Lists : Lists are mutable data types,i.e, they are changeable. They stores collection of any form of data whether it be   str,int,complex,float,bool,etc. They are denoted by square brackets [].
   * Tuples : Tuples are immutable data types,i.e, they are unchangeable. They stores collection of data as fixed values they are unable to change once stored. They are denoted by parenthesis ().

4. Describe how dictionaries stores data?

   :- Dictionaries stores data in key:value form, where a key is the used to access the value stored . Key works as a variable in dictionary. Dict are denoted by curly brackets{}.

    e.g,dict = {"Name" : "Sneha", "age" : 21, "qualification":"graduate"}

5. Why might you use a set instead of a list in a Python?

   * List are mutable data type , they are unordered and changeable.
   * Sets are also mutable but they are ordered and unique sequences, they do not repeat the element of the sequence
   * Sets are preferred as they do not copy duplicate objects from sequence.

6. What is a string in Python, and how is it different from a list?

    * String can store a character in quotes "". They are Immutable.
    * Lists are sequence of elements enclosed in square brackets[]. They are Mutable.

7. How do tuples ensure data integrity in Python?

   :- Tuples in Python ensure data integrity because once a data stored in tuple cannot be changed, the element in tuple cannot be added, removed or changed.

8. What is a hash table and how does it related to dictonaries in Python?

   * Hash function converts a key(like a string and number) into an index for storing in a memory.
   * It is a data structure that stores a data in an unordered collection of key-value pairs.
   * It is related to Python dictionary as it gives fast access to values using keys , keys must be hasable.

9. Can lists contains different data types in Python?

    :- Yes, list can contains different data types in Python. e.g, str, int, float, complex, bool, etc

In [4]:
#e.g., of list
list = [1, 34.6,"Sneha", 5+3j,"true"] #list contains different data types
list

[1, 34.6, 'Sneha', (5+3j), 'true']

10. Explain why strings are immutable in Python?

    * Strings are characters stored in the form of data. They are immutable , meaning that they cannot be changed.
    * Any operation that seems to be done creates a new string this is because Python is a memory efficient, it sometimes reuses the memory for identical string to save space.
    * If strings are mutable , changing one string could affect the others using same memory.

11. What advantages do dictonaries offer over lists for certain tasks?

    * Dictionaries and lists both stores data, but they serve different purposes.
    * Dictonaries are better:
       - When you need to modify one value to another.
       - When you want to store labeled data.
       - When you want more precise and systematic data.
       + e.g., counting items, Representing records , Storing configuration,etc

12. Describe a scenario where using a tuple would be preferred over a list.

    :- Tuples are immutable so it can stores data that we cannot change . If lists are used to store data of unordered elements but sometimes data is so sensitive that we cannot modify the data so in this case you have to use tuple.

13. How do sets handle duplicate values in Python?

    :- Sets are unique and ordered values stored in data in curly brackets{}. They do not gives duplicate values in output as they are unique data types.

14. How does "in" keyword works differently for lists and dictionaries?

    :- In list "in" is used to know the element present in that particular list whereas in dictionary it used to check if a key is present in dictionary or not.

15. Can you modify the elements of a tuple? Explain why or why not?

    * No, you cannot modify the element of a tuple.
    * Tuple is an ordered and immutable data type which we cannot change neither modify.

16. What is a nested dictionary, and give an example of its use cases?

    :- Nested dictionary is a dictionary inside dictionary.

In [10]:
#Nested dictionary
d = {
    "1" : {"name":"Sneha","age":21},
    "2" : {"name":"Suhas","age":23},
    "3" : {"name": "Priyanka","age":23},
}
d

{'1': {'name': 'Sneha', 'age': 21},
 '2': {'name': 'Suhas', 'age': 23},
 '3': {'name': 'Priyanka', 'age': 23}}

17. Describe the time complexity of accessing elements in a dictionary.

    :- Time complexity in a dictionary is help to write code faster and also able to access the data more faster.

18. In what situations are lists preferred over dictionaries?

    :- Lists are more preferrable than dictionaries as list can store an unordered and any form of data in it whereas dictionaries can store value in key:value form and the value is only accessable by using the key but in list the single element can be accessed by using index.

19. Why dictionaries considered unordered, and how does that affects data retrieval?

    :- Dictionaries are unordered as they do not support indexing and slicing. Indexing in dictionaries are based on the key in which the value is stored.
    The data retrieval in dictionary is still fast and unaffected.

20. Explain the difference between the list and the dictionary in terms of data retrival.

       * Use a list when :
         - If Order matters.
         -  If you want to access items by positions.
       * Use a dictionay when :
          - If you want to associate names with values.
          - If you need fast lookup by a custom key.

# Practical Questions

In [1]:
#1. Write a code to create a string with your name and print it.
name = "Sneha"
print(name)

Sneha

In [38]:
#2. Write a code to find the length of a string "Hello World".
word = "Hello World"
length = len(word) #len is a function used to find the length 
print("The length of the word is:",length)

The length of the word is: 11

In [37]:
#3. Write a code to slice the first 3 characters from the string "Python Programming"
x = "Python Programming"
result=x[:3]
print("The first three characters :",result)

The first three characters : Pyt

In [5]:
#4. Write a code to convert the string "hello" to uppercase.
y = "hello"
y.upper()

'HELLO'

In [6]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
sentence = "I like apple"
sentence.replace("apple","orange")  #.replace is used to replace a string in a sentence

'I like orange'

In [39]:
#6. Write a code to create a list with numbers 1 to 5 and print it.
x = [1,2,3,4,5]
print("The list is :",x)

The list is : [1, 2, 3, 4, 5]

In [40]:
#7. Write a code to append a number 10 to the list [1,2,3,4].
a = [1,2,3,4]
a.append(10)  #.append is used to add value in the end of the list.
print("The modified list :",a)

The modified list : [1, 2, 3, 4, 10]

In [20]:
#8. Write a code to remove a number 3 from the list [1,2,3,4,5].
num = [1,2,3,4,5]
num.remove(3)  #.remove used to remove value from the list.
print(num)

[1, 2, 4, 5]

In [23]:
#9. Write a code to access the second element in the list ["a","b","c","d"]
list1 = ["a","b","c","d"]
list1[1]  #using index we can get any particular element from list

'b'

In [42]:
#10. Write a code to reverse a list [10,20,30,40,50]
Values = [10,20,30,40,50]
Values.reverse()   # to reverse the list - .reverse is used.
print("The reversed list : ",Values)

The reversed list :  [50, 40, 30, 20, 10]

In [43]:
#11. Write a code to create a tuple with the elements 100,200,300 and print it.
t = (100,200,300)
print("Tuple =",t)

Tuple = (100, 200, 300)

In [31]:
#12. Write a code to access second-to-last element of the tuple("red","green","blue","yellow")
colours = ("red","green","blue","yellow")
colours[1: ]  #index can be used in tuple to access

('green', 'blue', 'yellow')

In [47]:
#13. Write a code to find a minimum number in the tuple (10,20,5,15)
Num = (10,20,5,15)
Min = min(Num)  #min is the minimum function used to find the minimum in the list
print("The minimum value is : ",Min)

The minimum value is :  5

In [48]:
#14. Write a code to find an index of the element "cat" in the tuple ("dog","cat","rabbit")
A = ("dog","cat","rabbit")
A.index("cat")

1

In [3]:
#15. Write a code to create a tuple containg three different fruits and check if "kiwi" is in it.
Fruits = ("Orange","Mango","Dragonfruit")

In [6]:
"kiwi" in Fruits

False

In [49]:
 #16. Write a code to create a set with the elements "a",b","c" and print it.
s = {"a","b","c"}
print("The set is :",s)

The set is : {'b', 'a', 'c'}

In [12]:
#17. Write a code to clear all elements from the set {1,2,3,4,5}.
num = {1,2,3,4,5}
num.clear()
print(num)

set()

In [14]:
#18. Write a code to remove the element 4 from the set {1,2,3,4,5}
my_set = {1,2,3,4,5}
my_set.remove(4)
print(my_set)

{1, 2, 3, 5}

In [13]:
#19. Write a code to find the union of two sets{1,2,3} and {3,4,5}
set_1 = {1,2,3}
set_2 = {2,3,4}
new_set = set_1|set_2
print("Merged set : ",new_set)

Merged set :  {1, 2, 3, 4}

In [14]:
#20. Write a code to find the intersection of two sets {1,2,3} and {2,3,4}
set1 = {1,2,3}
set2 = {2,3,4}
set3 = set1 & set2
print("Intersected set :",set3)

Intersected set : {2, 3}

In [21]:
#21. Write a code to create a dictionary with the keys 'name','age',and 'city' and print it.
info = {"name" : "Sneha" ,"age" : 21, "city" : "Kolhapur"}
print(info)

{'name': 'Sneha', 'age': 21, 'city': 'Kolhapur'}

In [17]:
#22. Write a code to add a new key-value pair "country":"USA" to the dictionary {"name":"John","age":25}
person_info = {"name":"John", "age":25}
person_info["country"] ="USA"
print("The updated dict :",person_info)

The updated dict : {'name': 'John', 'age': 25, 'country': 'USA'}

In [33]:
#23. Write a code to access the value associated with the key "name" in the dictionary {"name":"Alice","age":25}
Info = {"name" : "Alice","age" : 25}
Info["name"]

'Alice'

In [36]:
#24. Write a code to remove the key "age" from the dictionary {"name":"Bob","age":22,"city":"New York"}
personal_info = {"name" : "Bob","age":22, "city":"New York"}
personal_info.pop("age")
print(personal_info)

{'name': 'Bob', 'city': 'New York'}

In [37]:
#25. Write a code to check if the key 'city' exists in the dictionary {"name":"Alice","city":"Paris"}.
x = {"name":"Alice","city":"Paris"}
"city" in x

True

In [40]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
lis = ["Sneha",12,3+4j,56.7,True]
Tup = ("Sneha",12,3+4j,56.7,True)
Dic = {"name":"Sneha","age":21}
print("My list is :",lis)
print("Tuple is :",Tup)
print("Dictionary is :",Dic)

My list is : ['Sneha', 12, (3+4j), 56.7, True]
Tuple is : ('Sneha', 12, (3+4j), 56.7, True)
Dictionary is : {'name': 'Sneha', 'age': 21}

In [18]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced).
import random
numbers = sorted(random.sample(range(1,101),5))
print("Sorted numbers :",numbers)

Sorted numbers : [17, 29, 62, 89, 98]

In [21]:
#28. Write a code to create a list with strings and print the element at the third index.
Data = ["Sneha","college","Fresher","Girl"]
Data.insert(3,"Graduate")
print("The modified list :",Data)

The modified list : ['Sneha', 'college', 'Fresher', 'Graduate', 'Girl']

In [26]:
#29. Write a code to combine two dictionaries into one and print it.
student = {"Sneha", "Priyanka","Suhas","Shital"}
marks = {90,85,78,88}
{student:marks for student,marks in zip(student,marks)}

{'Suhas': 88, 'Sneha': 90, 'Priyanka': 85, 'Shital': 78}

In [34]:
#30. Write a code to convert a list of string into a set.
fruits = ["apple", "pineappple","papaya"]
fruits = frozenset(fruits)
print(fruits)

frozenset({'papaya', 'pineappple', 'apple'})

In [36]:
type(fruits)  #type has been changed from list to sets

frozenset